@using TestMVCx.Helpers
@model TestMVCx.Models.PlayersListViewModel

@{
    ViewBag.Title = "Фильтрация данных";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>
    @Html.ActionLink("Добавить игрока", "Create")
</p>
<form method="get">
    <div class="form-inline">
        <label class="control-label">Команда: </label>
        @Html.DropDownList("team", Model.Teams as SelectList,
                    htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Позиция игрока: </label>
        @Html.DropDownList("position", Model.Positions as SelectList,
                htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<br />
<table class="table table-striped table-hover">
    <tr>
        <th>Имя игрока</th>
        <th>Возраст</th>
        <th>Позиция на поле</th>
        <th>Команда</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Players)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

<p>
    @Html.ActionLink("Список команд", "ListTeams")
</p>
<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("FilterData", new { page = x }))
</div>